.brukerveiledning-container {
  padding: 24px; // Increased padding for more space
  background-color: #f9f9f9;

  h2 {
    font-size: 4rem; // Larger font size for titles
    color: #333;
  }

  .section {
    margin-bottom: 24px; // More space between sections

    h3 {
      font-size: 2.7rem; // Larger heading font
      color: #555;
    }

    p {
      font-size: 2.2rem; // Larger paragraph font
      color: #666;
      line-height: 1.6; // Increased line-height for readability
    }
  }

  /* Styling for "tilbake-knapp" */
  .tilbake-knapp {
    background: none;
    border: none;
    color: #333;
    font-size: 2.5rem; // Larger font for button
    cursor: pointer;
    display: flex;
    align-items: center; // Proper alignment for text and icon
    margin-bottom: 24px; // More space between button and content

    &:hover {
      color: #555; // Hover feedback
    }

    svg { // Styles for the icon
      font-size: 2.5rem; // Larger icon size
      margin-right: 12px; // Increased spacing between icon and text
    }
  }
}
