// Base styles
* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 38px;
  overflow-x: hidden; // Prevent horizontal scrolling
}

// Container for the cards with a fixed viewport height and scroll
.container {
  padding: 10px;
  margin: 20px auto; // Provide some top and bottom space
  overflow-y: scroll; // Allow vertical scrolling
  height: calc(100vh - 40px); // Subtract the top and bottom margin
  -webkit-overflow-scrolling: touch; // Smooth scrolling on touch devices
}
h2 {
  color: #333; // Mørkere farge for bedre lesbarhet
  text-align: center;
}
p {
  font-size: 1.5em; // Adjusted for better proportionality
  color: #555; // Softer color for better readability
  text-align: left; // Center the text
}

.card {
  background: white; // Lysere grå istedenfor hvit for å redusere belastning på øynene
  border-radius: 10px; // Moderne avrundede hjørner
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtil skygge for dybdefølelse

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // Mørkere skygge ved hover
  }

  .card-content {
    padding: 20px; // Litt mer plass inne i kortet
    h3 {
      color: black; // Bruk en farge for å fremheve ID-en på kumlokket
    }

    div {
      margin-bottom: 5px; // Litt mer avstand mellom linjene
      padding-left: 50px;
      font-size: 36px;
      &::before {
        content: "• "; // Tilføy et punkttegn før hver linje for å definere nøkkelpunkter
        color: #6c757d; // Dempet farge for punkttegnet
      }
    }
  }
}
