.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); // Slightly darker background for better focus on the modal
}

.modal-content {
  position: relative;
  background: #fff;
  border-radius: 15px; // Softer edge radius for modern look
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); // More pronounced shadow for 3D effect
  padding: 25px; // Balance padding for internal space without wasting it
  animation: scaleIn 0.3s ease; // Scaling animation for better interaction feel
  width: 65%; // Optimal width for mobile handling
  height: 20%; // Auto height to accommodate content
  max-height: 70vh; // Maximum height to not overwhelm the screen
  overflow-y: auto; // Allow scrolling within the modal if content is too long
}

.close-button {
  font-size: 3.5rem; // Clearly visible "X" for closing
  padding: 0.5rem 1rem; // Touch-friendly size for the close button
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: #000; // Change color on hover for feedback
    opacity: 0.7;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
