.triona-logo {
    margin-top: -5px;
    margin-left: 5px;
    position: fixed;
    left: 0;
    top: 0;
    height: auto; // You can set a fixed height if you want
    width: 10%; // Adjust the width to your preference
    z-index: 1000; // Ensure the logo is above other elements
  }
  