h1 {
  color: pink;
}
//Vi får opp
.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.log-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  max-height: 30%; /* Increased from 20% to 30% */
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px; /* Increased from 12px to 16px */
  z-index: 1000; /* Ensure it's above other elements */
}
